.header_menu {
  width: 100%;
  height: 60px;
  display: flex;
  line-height: 60px;
  background: #fff;
}

.header_menu div {
  width: 100px;
  cursor: pointer;
}

.main_container {
  width: 100%;
  height: 100%;
}

.main_container .container {
  min-height: calc(100% - 60px);
}
