.header_menu{
    width: 100%;
    height: 60px;
    display: flex;
    line-height: 60px;
    div{
        width: 100px;
        cursor: pointer;
        text-align: center;font-weight: bold;font-size: 16px;
    }
}
.main_container{
    width: 100%;
    height: 100%;
    .container{
        min-height: calc(100% - 60px);
    }
}